<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!--Do we save input for further reuse-->
    <add key="saveInput" value="true"/>
    <!--Where can we save input default current location "config.xml"-->
    <add key="fileToSaveInput" value="config.xml"/>
    <!--Path where we save output from browser-->
    <add key="outputPath" value="C:\TMP\"/>
    <!--The assembly name-->
    <add key="assemblyName" value="SimpleTalk.SQLCLR.SendMail"/>
    <!--That is the way how we protect password information-->
    <add key="SqlServerCentral" value="SqlServerCentral"/>
    <!--Source code. Export to excel-->
    <add key="codeToCompile" value="Microsoft.Office.Interop.Excel.Application excel = new Microsoft.Office.Interop.Excel.Application();
excel.Visible = false;
excel.DisplayAlerts = false;
Microsoft.Office.Interop.Excel.Range xlRange =null;
Microsoft.Office.Interop.Excel.Sheets xlSheets = null;
Microsoft.Office.Interop.Excel.Worksheet xlSheet = null;
Microsoft.Office.Interop.Excel.Workbook excelWorkBook = excel.Workbooks.Open(p);
//xlSheets = (Microsoft.Office.Interop.Excel.Sheets)excelWorkBook.Sheets;
//xlSheet = (Microsoft.Office.Interop.Excel.Worksheet)xlSheets[1];
//xlRange = xlSheet.UsedRange;
//Debugger.Break();
//if (xlRange != null)
//{
//  int nRows = xlRange.Rows.Count;
//  int nCols = xlRange.Columns.Count;
//  for (int iRow = 1; iRow &lt;= nRows; iRow++)
//  {
//      for (int iCount = 1; iCount &lt;= nCols; iCount++)
//      {
//        xlRange = (Microsoft.Office.Interop.Excel.Range)xlSheet.Cells[iRow, iCount];
//        xlRange.NumberFormat=&quot;@&quot;;
//        xlRange.Value =&quot;&#39;&quot; + xlRange.Value ;
//      }
//  }
//}
excelWorkBook.SaveAs(p.Replace(&quot;.html&quot;, &quot;&quot;) + &quot;.xlsx&quot;, Microsoft.Office.Interop.Excel.XlFileFormat.xlOpenXMLWorkbook, 
Missing.Value,Missing.Value, false, false, Microsoft.Office.Interop.Excel.XlSaveAsAccessMode.xlNoChange, 
Microsoft.Office.Interop.Excel.XlSaveConflictResolution.xlUserResolution, true,Missing.Value, Missing.Value, Missing.Value);
excelWorkBook.Close();
excel.Quit();

"/>
    <!--Are buttons visible or not-->
    <add key="showLoadAppDomainButton" value="true"/>
    <add key="showUnLoadAppDomainButton" value="true"/>
  </appSettings>
</configuration>
